body
{
   
    font-family: 'Roboto', sans-serif;
    
}
#bloc-page
{
    width: 380px;
    flex-direction: column;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    animation-delay: 2s;
}
.entree
{
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name:opacity;
    
}
@keyframes opacity {
    from {color: 0%;}
    to {color: 100%;}
  }

.plat
{
    animation-duration: 3s;
    animation-delay: 500ms;
    animation-name: slidein;
}

.dessert
{
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slidein;
}
#bloc-menu1
{
    width: 380px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;

}
#bloc-menu2
{
    width: 380px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
 
}
#bloc-menu3
{
    width: 380px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}
#bloc-menu4
{
    width: 380px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;  
}
.logo-menu
{
    
    font-family: 'Shrikhand', cursive;
    color: #343135;
    width: 380px;
    height: 20px;
    display:flex;
    position: relative;
    
}
.titre
{
    width: 380px;
    text-align: center;
}
.logo
{
    width: 380px;
    height: 40px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: #343135;
}

.fonction 
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-left: 10px;
}
#bloc-fonctionnement
{
    
    width: 380px;
    flex-direction: column;

}


.restau
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; 
    padding-left: 10px; 
}
.photo
{

    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    position: relative;
    left: 10px;
}
.bloc-footer
{
    background-color: #343135;
    color: white;
    height: 200px;
    max-width:370px;
    padding-left: 10px;
    flex-direction: column;
    margin-top: 110px;
}

#bloc-footer-accueil
{
    background-color: #343135;
    color: white;
    height: 200px;
    max-width:370px;
    padding-left: 10px;
    flex-direction: column;
    margin-top:60px ;
}
.piedpage
{
 
     font-size: 40px;
     color:white;
     font-family: 'Shrikhand', cursive;
}
#bloc-restaurants
{
   margin-bottom: 20px;
   width: 380px;
  
   flex-direction: column;
   background-color:#F8F8F8 ;
}

.paris
{
    background-color:#ebebec;
    min-width: 380px;
    text-align: center;
    height: 30px;
    align-content: center;
    padding-top:10px;
    
}
.carte
{
    height: 16px;
    min-width: 5px;
    
}

.reservation 

{ 
    text-align: center;
    font-size: 25px; 
} 
.selection
{
    font-size: 15px;
    min-width: 380px;
    text-align: center;
}

.explore 
{ 
    border: 1px#CF9AE5 solid; 
    border-radius: 50px; 
    box-shadow: 2px 2px 10px grey;
    background-image: linear-gradient(#F37DE8 ,#9356DC); 
    color: white;
    max-width: 190px; 
    height: 30px; 
    text-align: center;
    padding-top: 5px;
    position: relative;
    top: 30px;
    left: 90px;
   
} 

.entete 
{ 
    max-width: 380px;
    background-color:#F8F8F8 ;
    height: 280px; 
    flex-direction:column ;
    
    
} 

.totalfonction
{
    height: 400px;
}


.buy
{
    border: 1px#CF9AE5 solid; 
    border-radius: 50px; 
    box-shadow: 2px 2px 8px #E4E0E7;
    background-image: linear-gradient(#F37DE8 ,#9356DC); 
    color: white;
    max-width: 145px; 
    position: relative;
    left: 100px;
    top: 40px;  
    height: 40px; 
    text-align: center;
    padding-top: 5px;
}


.choix
{ 
    border:1px solid #d8d8d8 ; 
    border-radius: 15px;
    box-shadow: 2px 2px 10px #d8d8d8 ;  
    height: 40px; 
    min-width: 360px; 
    background-color:#F8F8F8; 
    padding-top: 20px;  
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
} 

.menu 
{
    border:1px solid #d8d8d8 ;  
    border-radius: 15px;  
    box-shadow: 2px 2px 10px #d8d8d8; 
    height: 40px; 
    min-width: 360px;
    background-color :#F8F8F8; 
    text-align: center; 
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
} 


.resto 

{ 
    border:1px solid #d8d8d8 ;  
    border-radius: 15px; 
    box-shadow: 2px 2px 10px #d8d8d8;  
    height: 40px; 
    min-width: 360px;
    background-color:#EFE6F5; 
    text-align: center; 
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
} 

.un 
{
    position: relative;
    right: 35px;
   height: 20px;
   
}   
.deux
{
    position: relative;
    right: 35px;
    height: 20px;
} 
.trois
{
    position: relative;
    right: 35px;
    height: 20px;
} 
.fonctionnality
{
    width: 180px;
    text-align: justify;
    position: relative;
    right: 40px;
}


.imag-tel
{
    width: 17px;
    height: 17px;
    position: relative;
    right: 50px; 
}
.imag-menu
{
    width: 17px;
    height: 17px;
    position: relative;
    right: 50px;
}
.imag-maison
{
    width: 17px;
    height: 17px;
    position: relative;
    right: 50px;
}


.bord
{
    border: 1px white solid;
    border-radius: 10px;
    width: 346px;
    height: 50px;
    background-color: white;
    padding-left: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
    
}

.bord1
{
    border: 1px white solid;
    border-radius: 10px;
    width: 346px;
    background-color: white;
    padding-left: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.bord2
{
    border: 1px white solid;
    border-radius: 10px;
    width: 346px;
    background-color: white;
    padding-left: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.bord3
{
    border: 1px white solid;
    border-radius: 10px;
    width: 346px;
    background-color: white;
    padding-left: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.far fa-heart
{
    
    width: 20px;
    height: 20px;
   
}
.heart
{
    position: relative;

    left: 310px;
    bottom: 30px;
}
.case:hover
{
    color:#F37DE8 ;
}
a
{
    text-decoration: none;
}
.imag-menu1
{
    position: relative;
    left: 70px;
    width: 20px;
    height: 20px;
}
.imag-menu2
{
    position: relative;
    left: 60px;
    width: 20px;
    height: 20px;
}

.alafrançaise
{
  
    background-color:blue ;
}

.new
{
    text-decoration:none;
    position: relative;
    left: 300px;
    bottom: 180px;
    background-color: #99E2D0;
    width: 60px;
    color: #094486;
    font-size: 0.8rem;
    text-align: center;
}
.nouveau
{
    position: relative;
    left: 310px;
}
.contac
{
    text-decoration: none;
    color: white;
}
/*menu1*/
.totally
{
    width: 360px;
    height: 100%;
    border: 1px #f5f5f5 solid;
    background-color: #f5f5f5;
    border-radius: 40px;
    background-position: no-repeat;
}
.imag-alafrançaise
{
    font-family: 'Shrikhand', cursive;
    position: relative;
    top:15px;
   
}
.btn-blanc
{
    border:1px white; 
    border-radius: 12px;  
    box-shadow: 2px 2px 10px #ebebec; 
    height: 65px; 
    width: 340px; 
    background-color :white; 
    margin-left: 10px;  
    margin-top: 10px;

}
#bloc-header-menu
{
    display: flex;
}
.prix
{
    position: relative;
    left: 300px;
    bottom: 20px;
}
.trait
{
    border-bottom: 3px solid #99E2D0;
}
h1
{
    font-family: 'Shrikhand', cursive;
    animation: fadein 2s; 
}
